<nav class="navbar navbar-expand-lg navbar ">
 <%= link_to image_tag("https://svgshare.com/i/FNW.svg", alt:"Brand"), root_path, :class=>'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <%= link_to "Admin", new_admin_user_session_path, class:"nav-link"%>

  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav ">
     
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle "  href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if user_signed_in? %>
             <%= current_user.email %>
          <% else %>
             Ingresar
          <% end %>
        </a>
        <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
          <% if user_signed_in? %>
            <%= link_to "Salir", destroy_user_session_path, method: :delete, class:"dropdown-item"%>
          <% else %>
            <%= link_to "Ingreso", new_user_session_path, class:"dropdown-item"%>
            <%= link_to "Registro", new_user_registration_path, class:"dropdown-item"%>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>