    <div class="row m-4">
        <div class="col-2">
            <div class="login-purple-pink p-3 shadow-lg rounded">
                <div class="pt-3">
                    <h2 class="text-white ">Log In</h2>
                </div>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <%= render "shared/flash_messages", resource: resource %>
                <form class="mt-5">
                
                    <div class="form-group">
                      <div class="field mt-2">
                      <%= f.label :email %><br />
                      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="field">
                      <%= f.label :password %><br />
                      <%= f.password_field :password, autocomplete: "current-password" %>
                      </div>
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="rememberCheckBox">
                        <label class="form-check-label text-light" for="rememberCheckBox">Remember me?</label>
                    </div>

                    <div class="actions mt-5">
                      <%= f.submit "Log in" %>
                    </div>
                  <% end %>
                    
                    <div class="mt-5">
                        <p class="text-white text-center">
                            Don't have an account?
                            <a href="<%= new_user_registration_path %>" class="text-warning">Click here to register</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
