<h3> Email aca esta cummunities </h3>
    <%= @user.email %>
</br>
<h3> Comunidad  </h3>
    <%= @user.community.name %>
</br>
<h3> Presupuesto para este mes </h3>
    <% @user.community.expenses.each do |expense| %>
        <%= expense.name %>
        <%= expense.description %>
        <%= expense.value %>
    <% end %>



